<!-- edit_profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Edit.css') }}">
</head>

<body>
    <div class="wrapper" style="background-image: url('/static/img/background.jpg')">
        <a href="{{ url_for('home_page') }}" class="home-button">
            <img src="{{ url_for('static', filename='img/home.png') }}" alt="Home">
        </a> 
        <a href="{{ url_for('logout_page') }}" class="logout-button">
            <img src="{{ url_for('static', filename='img/Logout.png') }}" alt="Logout">
        </a> 
        <div class="inner">
    <h1>Edit Profile</h1>

    {% if owner_form %}
    
    <form method="POST" >
    
  
 
                <div class="middle-section">
                    <div class="form-section left">
            <p>{{ owner_form.ownerusername.label }} {{ owner_form.ownerusername }}</p>
            <p>{{ owner_form.ownerpassword.label }} {{ owner_form.ownerpassword }}</p>
            <p> {{ owner_form.owneremail_address.label }} {{ owner_form.owneremail_address }}</p>
            <p> {{ owner_form.ownerphonenumber.label }} {{ owner_form.ownerphonenumber }}</p>
            <p> {{ owner_form.owneraddress.label }} {{ owner_form.owneraddress }}</p>
            <p>{{ pet_form.pettype.label }} {{ pet_form.pettype }}</p>
            
            </div>
            <div class="form-section right">
        <!-- Pet Form -->
       
        <!-- Add form fields for pet details -->
        

        <p>{{ pet_form.petname.label }} {{ pet_form.petname }}</p>
        <p>{{ pet_form.petsize.label }} {{ pet_form.petsize }}</p>
        <p>{{ pet_form.petage.label }} {{ pet_form.petage }}</p>
        <p>{{ pet_form.vaccinationstatus.label }} {{ pet_form.vaccinationstatus }}</p>
        <p>{{ pet_form.habits.label }} {{ pet_form.habits }}</p>
        <p>{{ pet_form.specialneed.label }} {{ pet_form.specialneed }}</p>

        <button type="submit" class="button-link">Update</button>
    </form>
    </div>
        </div>
        </div>
    
   {% endif %} 

    {% if sitter_form %}   
    <form method="POST">
     
        <!-- Sitter Form -->
        <div class="top-section ">
        
    </div>
        <!-- Add form fields for sitter details -->
        <div class="middle-section">
        <div class="form-section left">
        <p>{{ sitter_form.sitterusername.label }} {{ sitter_form.sitterusername }}</p>
        <p>{{ sitter_form.sitterlineid.label }} {{ sitter_form.sitterlineid }}</p>
        <p>{{ sitter_form.sitterpassword.label }} {{ sitter_form.sitterpassword }}</p>
        <p>{{ sitter_form.sitterphonenumber.label }} {{ sitter_form.sitterphonenumber }}</p>
        <p>{{ sitter_form.sitteraddress.label }} {{ sitter_form.sitteraddress }}</p>
        <p>{{ sitter_form.sitteremail.label }} {{ sitter_form.sitteremail }}</p>
        <p>{{ sitter_form.sitterExperienceInVet.label }} {{ sitter_form.sitterExperienceInVet }}</p>
        <p>{{ sitter_form.sitterExperienceInPetCare.label }} {{ sitter_form.sitterExperienceInPetCare }}</p>
       
        </div>
        <div class="form-section right">
        <p>{{ sitter_form.sitterAcceptedPetTypes.label }} {{ sitter_form.sitterAcceptedPetTypes }}</p>
        <p>{{ sitter_form.sitterServiceTypes.label }}{{ sitter_form.sitterServiceTypes }}</p>
        <p>{{ sitter_form.sitterPetSpaceSize.label }} {{ sitter_form.sitterPetSpaceSize }}</p>
        <p>{{ sitter_form.sitterPetFeeder.label }} {{ sitter_form.sitterPetFeeder }}</p>
        <p>{{ sitter_form.sitterCatTree.label }} {{ sitter_form.sitterCatTree }}</p>
        <p>{{ sitter_form.sitterPetBed.label }} {{ sitter_form.sitterPetBed }}</p>
        <p>{{ sitter_form.sitterToy.label }} {{ sitter_form.sitterToy }}</p>
        <p>{{ sitter_form.sitterSecurityCamera.label }} {{ sitter_form.sitterSecurityCamera }}</p>

        
        <button type="submit" class="button-link">Update</button>
    </form>
    </div>
    </div>
    </div>
    {% endif %} 
    </div>

</body>
</html>