<!doctype html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
</head> 
<body>
    <div class="wrapper" style="background-image: url('/static/img/background.jpg')">
        <a href="{{ url_for('home_page') }}" class="home-button">
            <img src="{{ url_for('static', filename='img/home.png') }}" alt="Home">
        </a> 
        <div class="inner">
            <div class="top-section">
                <h1>LOGIN</h1>       
            </div>
            <form method="POST" class="form-signin" style="color:black">
                {{ form.hidden_tag() }}
            <div class="middle-section">
                <div class="form-group">
                    
                    {{ form.sitterusername.label() }}
                    {{ form.sitterusername(class="form-control", placeholder="User Name") }}
        
                    {{ form.sitterpassword.label() }}
                    {{ form.sitterpassword(class="form-control", placeholder="Password") }}
                    <div class="button-section">
                        {{ form.submit(class="button-link", placeholder="登入") }}
                        <a href="{{ url_for('sitter_register_page') }}" class="button-link">Create a new account!</a>
                    </div>

                    
                    </form>
                </div>
</div>
          
                
        </div>
    </div>
</body>
</html>