<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Edit.css') }}">
</head>
<body>
    <div class="wrapper" style="background-image: url('/static/img/background.jpg')">
        <a href="{{ url_for('home_page') }}" class="home-button">
            <img src="{{ url_for('static', filename='img/home.png') }}" alt="Home">
        </a> 
        <a href="{{ url_for('logout_page') }}" class="logout-button">
            <img src="{{ url_for('static', filename='img/Logout.png') }}" alt="Logout">
        </a> 
        <div class="inner">
            <form method="POST">
                {{ form2.hidden_tag() }}
                <h1>Registering As A Pet Owner!</h1>
                <div class="middle-section">
                    <div class="form-section left">
                            <div class="form-group">
                                <label for="ownername"><strong>使用者名稱 </strong></label>
                                {{ form2.ownerusername(class="form-control", placeholder="Username") }}
                            </div>
    
                            <div class="form-group">
                                <label for="owneremail"><strong>email </strong></label>
                                {{ form2.owneremail_address(class="form-control", placeholder="Email Address") }}
                            </div>
                            <div class="form-group">
                                <label for="ownerpassword"><strong>設定密碼 </strong></label>
                                {{ form2.ownerpassword(class="form-control", placeholder="Password") }}
                            </div>
                            <div class="form-group">
                                <label for="owneraddress"><strong>住址 </strong></label>
                                {{ form2.owneraddress(class="form-control", placeholder="Address") }}
                            </div>
    
                            <div class="form-group">
                                <label for="phonenumber"><strong>電話號碼 </strong></label>
                                {{ form2.ownerphonenumber(class="form-control", placeholder="Phone Number") }}
                            </div>
                            <div class="bottom-section">
    
                                {{ form2.submit(class="button-link", placeholder="登入") }}
                            </div>
                            
    
                    </div>

    
                        <!-- section2 -->
                            <div class="form-section right"> 
                                <form method="POST">
                                    <div class="form-group">
                                        <label for="petname"><strong>寵物暱稱 </strong></label>
                                        {{ form1.petusername(class="form-control", placeholder="Pet Username") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="pettype"><strong>寵物類型(dog/cat)</strong></label>
                                        {{ form1.pettype(class="form-control", placeholder="Pet Type") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="petsize"><strong>寵物尺寸</strong></label>
                                        {{ form1.petsize(class="form-control", placeholder="Pet Size") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="petage"><strong>寵物年齡 </strong></label>
                                        {{ form1.petage(class="form-control", placeholder="Pet Age") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="petage"><strong>寵物習慣 </strong></label>
                                        {{ form1.pethabit(class="form-control", placeholder="Pet Habit") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="vaccine"><strong>疫苗紀錄(number)</strong></label>
                                        {{ form1.petvacinnationstatus(class="form-control", placeholder="Vaccination Status") }}
                                    </div>
                                    <div class="form-group">
                                        <label for="vaccine"><strong>特殊需求 </strong></label>
                                        {{ form1.petspecialneed(class="form-control", placeholder="Special Needs") }}
                                    </div>
    
                            </form>
                        </div>

                    </div>       
                </div>
        </body>
    </html>