body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.wrapper {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Home button styling */
.home-button {
    position:absolute;
    top: 20px;
    right: 20px;
}



.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vmin;
    height: 70vmin;
    display: flex;
    justify-content: space-between;
    padding: 5vmin;
}

.block {
    background-color: rgba(245, 245, 245, 0.7); /* Corrected */
    border:  grey; /* Corrected */
    border-radius: 2px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 使內容為垂直排列 */
    align-items: center; /* 水平居中對齊 */
    justify-content: center; /* 垂直居中對齊 */
    margin: 0 2.5%;
    padding: 20px;
}

h2 {
    margin-top: 100px;  /* Adds 20px of space above the h2 element */
} 

.image-holder {
    width: 60%;  /* 調整為填滿寬度 */
    flex-grow: 1;  /* 允許圖片區塊填充可用空間 */
    display: flex;
    justify-content: center;  /* 水平居中對齊圖片 */
    align-items: center;  /* 垂直居中對齊圖片 */
}

.image-holder img {
    max-width: 100%;  /* 確保圖片不超過容器寬度 */
    height: auto;
    display: block;
}


.button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white; /* Text color */
    text-align: center;
    text-decoration: none;
    border: 1px solid #93bf85; /* Border color */
    background-color: #9bc58c; /* Background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button-link:hover {
    background-color: #93bf85; /* Darker background on hover */
}


/* Aligning the links */
.links a {
    display: inline-block; /* Align links next to each other */
    margin: 0 10px; /* Spacing between links */
}


@media (max-width: 768px) {
    .inner, .block {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

}
